.idea/
src-gen/
target/
.classpath
.project
*.iml
node_modules/
*.aterm
*.constraints
*.name-resolution
*.scope-graph
.settings/org.eclipse.core.resources.prefs
.log
.vscodelog
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
/.metadata/

*.stxresult
typescript-reference
typescript.test/generated
